<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="shortcut icon"
      href="assets/img/favicon.png"
      type="image/x-icon"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../static/style.css" />

    <title>Books website </title>
  </head>

<header class="header" id="header">
    <nav class="nav container">
      <a href="#" class="nav__logo">
        <i class="ri-book-line nav__logo-icon"></i> Readify
      </a>

      <div class="nav__menu" id="nav-menu">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="/" class="nav__link active-link">Home</a>
          </li>
          <li class="nav__item">
            <a href="/about" class="nav__link">About</a>
          </li>
          <li class="nav__item">
            <a href="/product" class="nav__link">Products</a>
          </li>
          <li class="nav__item">
            <a href="/contact" class="nav__link">Contact Us</a>
          </li>
        </ul>

        <div class="nav__close" id="nav-close">
          <i class="ri-close-line"></i>
        </div>
      </div>

      
    </nav>
  </header>

  <script src="assets/js/main.js"></script>